<nav class="navbar">
  <div class="navbar-content">
    <a href="/" class="navbar-brand">
      <img src="/img/icon.png" alt="Logo MPBA" class="navbar-logo">
      <span>Gestor de Estoque</span>
    </a>
    <div class="navbar-user">
      <span>Olá, <%= userName %></span>
      <a href="/logout" class="btn btn-sm btn-danger">Sair</a>
    </div>
  </div>
</nav>