<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Operação</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Operação</h1>
        
        <p>{{ mensagem_da_operacao }}</p>

        <div>
            <a href="{{ url_for('index') }}" class="voltar">Voltar</a>
        </div>
    </div>
</body>
</html>